footer.py-4.bg-dark.text-white.mt-5
  .container
    .row
      .col-md-4.mb-3
        h5 About This Blog
        p A personal blog where I share my thoughts, experiences and knowledge about various topics.
      
      .col-md-4.mb-3
        h5 Quick Links
        ul.list-unstyled
          li
            a.text-decoration-none.text-white(href="/") Home
          li
            a.text-decoration-none.text-white(href="/posts") Posts
          li
            a.text-decoration-none.text-white(href="/about") About
      
      .col-md-4.mb-3
        h5 Connect
        .social-links
          a.me-2.text-white(href="#" target="_blank")
            i.fab.fa-facebook.fa-lg
          a.me-2.text-white(href="#" target="_blank")
            i.fab.fa-twitter.fa-lg
          a.me-2.text-white(href="#" target="_blank")
            i.fab.fa-instagram.fa-lg
          a.me-2.text-white(href="#" target="_blank")
            i.fab.fa-github.fa-lg
    
    hr
    .row
      .col-12.text-center
        p.mb-0 &copy; #{new Date().getFullYear()} My Personal Blog. All rights reserved.